body{
    background-color: grey;
}

header{
    padding: 60px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    text-align: center;
    font-size: 45px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:maroon;
}


label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:firebrick;
}

textarea{
    margin: 10px;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
    padding:30px;
    background-color:rgb(199, 199, 199);
}


.question{
    margin-left: 5px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: maroon;
}

.divradio{
    width: 49%;
    min-width: 200px;
}

.sbutton{
    align-self: center;
    height: 40px;
    width: 90px;
    background-color: maroon;
    border-color: firebrick;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(199, 199, 199)
}

.inputtxt{
    flex-grow: 1;
    height: 40px;
    margin-top: 10px;
    min-width: 200px;
}

.radio{
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.item{
    padding: 5px;
    margin: 20px;
}

.flex{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.column{
    flex-direction: column;
}

.grow{
    flex-grow: 1;
    margin-right:10px
}

.wrap{
    flex-wrap: wrap;
}